<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Digital marketing agency, Digital marketing company, Digital marketing services, sass, software company">
	<meta name="description" content="vCamp Creative Personal Service HTML Template designed for personal service.">
	<meta property="og:site_name" content="vCamp">
	<meta property="og:url" content="https://heloshape.com/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="vCamp-Creative Agency & Portfolio HTML5 Template">
	<meta name='og:image' content='images/assets/ogg.png'>
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#202020">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#202020">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#202020">
	<title>vCamp-Creative Agency & Portfolio HTML5 Template</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="../vCamp/Template/vCamp/images/fav-icon/icon.png">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="../vCamp/Template/vCamp/css/style.css" media="all">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="../vCamp/Template/vCamp/css/responsive.css" media="all">
	<link rel="stylesheet" type="text/css" href="../vCamp/Template/vCamp/css/custom.css" media="all">
</head>
<body>
	<div class="main-page-wrapper">
			<!-- ===================================================
				Loading Transition
				==================================================== -->
				<section>
					<div id="preloader">
						<div id="ctn-preloader" class="ctn-preloader">
							<div class="animation-preloader">
								<div class="icon"><img src="../vCamp/Template/vCamp/images/logo/vCamp.svg" alt="" class="m-auto d-block"> <span></span></div>
								<div class="txt-loading mt-4">
									<span data-text-preloader="C" class="letters-loading">
										C
									</span>
									<span data-text-preloader="A" class="letters-loading">
										A
									</span>
									<span data-text-preloader="M" class="letters-loading">
										M
									</span>
									<span data-text-preloader="P" class="letters-loading">
										P
									</span>
								</div>
							</div>	
						</div>
					</div>
				</section>

			<!-- 
			=============================================
				Sidebar Nav
			============================================== 
		-->
		<div class="offcanvas offcanvas-end sidebar-nav" tabindex="-1" id="offcanvasRight">
			<div class="offcanvas-header">
				<div class="logo"><a href="index.html"><img src="../vCamp/Template/vCamp/images/logo/vCamp_01.png" alt="" width="127"></a></div>
				<button type="button" class="close-btn tran3s" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
			</div>

			<div class="sidebar-nav-item">
				<ul class="style-none">
					<li class="nav-item">
						<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Home</a>
						<ul class="dropdown-menu">
							<li><a href="index.html" class="dropdown-item"><span>Creative Agency</span></a></li>
							<li><a href="index-2.html" class="dropdown-item"><span>Business</span></a></li>
							<li><a href="index-3.html" class="dropdown-item"><span>Agency Minimal</span></a></li>
							<li><a href="index-4.html" class="dropdown-item"><span>Service Provider</span></a></li>
							<li><a href="index-5.html" class="dropdown-item"><span>Startup</span></a></li>
							<li><a href="index-6.html" class="dropdown-item"><span>Design Studio Light</span></a></li>
							<li><a href="index-7.html" class="dropdown-item"><span>Design Studio Dark</span></a></li>
							<li><a href="index-8.html" class="dropdown-item"><span>Shop Standard</span></a></li>
							<li><a href="index-9.html" class="dropdown-item"><span>Shop Creative</span></a></li>
							<li><a href="index-10.html" class="dropdown-item"><span>Startup Agency</span></a></li>
							<li><a href="index-11.html" class="dropdown-item"><span>Consulting Agency</span></a></li>
							<li><a href="index-12.html" class="dropdown-item"><span>Photographer Portfolio</span></a></li>
							<li><a href="index-13.html" class="dropdown-item"><span>Designer Portfolio</span></a></li>
							<li><a href="index-14.html" class="dropdown-item"><span>Marketing Agency</span></a></li>
							<li><a href="index-15.html" class="dropdown-item"><span>Design Agency Portfolio</span></a></li>
							<li><a href="coming-soon.html" class="dropdown-item"><span>Coming Soon</span></a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Portfolio</a>
						<ul class="dropdown-menu">
							<li><a href="portfolioV1.html" class="dropdown-item"><span>Portfolio Classic</span></a></li>
							<li><a href="portfolioV7.html" class="dropdown-item"><span>Portfolio Modern</span></a></li>
							<li><a href="portfolioV24.html" class="dropdown-item"><span>Portfolio carousel</span></a></li>
							<li><a href="portfolioV15.html" class="dropdown-item"><span>Portfolio Video Lightbox</span></a></li>
							<li><a href="portfolio-detailsV1.html" class="dropdown-item"><span>Single Portfolio 01</span></a></li>
							<li><a href="portfolio-detailsV2.html" class="dropdown-item"><span>Single Portfolio 02</span></a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Pages</a>
						<ul class="dropdown-menu">
							<li><a href="about-usV1.html" class="dropdown-item"><span>About Minimal</span></a></li>
							<li><a href="teamV1.html" class="dropdown-item"><span>Team Standard</span></a></li>
							<li><a href="pricingV2.html" class="dropdown-item"><span>Pricing Standard: Dark</span></a></li>
							<li><a href="serviceV1.html" class="dropdown-item"><span>Service Minimal</span></a></li>
							<li><a href="testimonialV1.html" class="dropdown-item"><span>Testimonial Classic</span></a></li>
						</ul>
					</li>
					<li class="nav-item"><a href="blogV1.html">News</a></li>
					<li class="nav-item"><a href="contactV1.html">Contact us</a></li>
				</ul>
			</div>
			<div><a href="sign-in.html" class="theme-btn-one ripple-btn d-block"><img src="../vCamp/Template/vCamp/images/icon/icon_22.svg" alt="" class="me-2 ms-0"> login</a></div>
			<form action="#" class="search-form">
				<input type="text" placeholder="Search here..">
				<button><i class="bi bi-search"></i></button>
			</form>

			<div class="address-block">
				<h4 class="title">Our Address</h4>
				<p>Chowrastar Mirpur- 1210, Sangu <br>River, Dhaka</p>
				<p>Urgent issue? call us at <br><a href="tel:310.841.5500">310.841.5500</a></p>
			</div>
			<ul class="d-flex social-icon style-none mt-20">
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
			</ul>
		</div> <!-- /.sidebar-nav -->


			<!-- 
			=============================================
				Theme Main Menu
			============================================== 
		-->
		<!-- <header class="theme-main-menu sticky-menu theme-menu-one white-vr dark-bg dark-dropdown"> -->
			<header class="theme-main-menu sticky-menu theme-menu-one">
				<div class="inner-content">
					<div class="d-flex align-items-center justify-content-between">
						<div class="logo"><a href="index.html"><img src="../vCamp/Template/vCamp/images/logo/vCamp_01.png" alt="" width="127"></a></div>
						<nav class="navbar navbar-expand-lg">
							<button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span></span>
							</button>
							<div class="collapse navbar-collapse dark-style" id="navbarNav">
								<ul class="navbar-nav">
									<li class="d-block d-lg-none"><div class="logo"><a href="index.html"><img src="images/logo/vCamp_01.png" alt="" width="127"></a></div></li>
									<li class="nav-item active">
										<a class="nav-link" href="#">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Tentang Kami</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Layanan</a>
										<ul class="dropdown-menu">
											<li><a href="productV1.html" class="dropdown-item"><span>Website & Toko Online</span></a></li>
											<li><a href="productV2.html" class="dropdown-item"><span>Apps</span></a></li>
											<li><a href="productV3.html" class="dropdown-item"><span>Landing Page</span></a></li>
											<li><a href="productV4.html" class="dropdown-item"><span>Promo Digital Marketing</span></a></li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Portfolio</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Paket & Harga</a>
										<ul class="dropdown-menu">
											<li><a href="productV1.html" class="dropdown-item"><span>Website & Toko Online</span></a></li>
											<li><a href="productV2.html" class="dropdown-item"><span>Custom Apps</span></a></li>
											<li><a href="productV3.html" class="dropdown-item"><span>Landing Page</span></a></li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Kontak Kami</a>
									</li>
								</ul>
								<div class="mobile-content d-block d-lg-none">
									<form action="#" class="search-form">
										<input type="text" placeholder="Search here..">
										<button><i class="bi bi-search"></i></button>
									</form>

									<div class="address-block">
										<h4 class="title">Our Address</h4>
										<p>Chowrastar Mirpur- 1210, Sangu <br>River, Dhaka</p>
										<p>Urgent issue? call us at <br><a href="tel:310.841.5500">310.841.5500</a></p>
									</div>
								</div> <!-- /.mobile-content -->
							</div>
						</nav>
						<div class="right-widget d-flex align-items-center">
							<button class="sidebar-nav-button d-none d-lg-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="../vCamp/Template/vCamp/images/icon/icon_02.svg" alt=""></button>
						</div> <!-- /.right-widget -->
					</div>
				</div> <!-- /.inner-content -->
			</header> <!-- /.theme-main-menu -->

			<div class="hero-banner-nine">
				<div class="hero_slider_three">
					<div class="item">
						<div class="bg-wrapper d-flex align-items-center justify-content-center" style="background-image:url(../vCamp/Template/vCamp/images/media/img_73.jpg);">
							<div class="container">
								<div class="row">
									<div class="col-xxl-8 col-xl-10 col-md-8 m-auto">
										<div class="text-wrapper text-center">
											<h1 class="hero-heading font-recoleta">Kami membuat <span>Website</span> yang Menjual.</h1>
											<p class="hero-sub-heading text-lg">Kami peduli dengan bisnis Anda. Kami akan siapkan Websiute yang "Communicate Clearly, Stand Out & Sell More" </p>
											<a href="ui-headerV3.html" class="theme-btn-four ripple-btn">Yuk, diskusi dengan kami</a>
										</div> <!-- /.text-wrapper -->
									</div>
								</div>
							</div>
						</div> <!-- /.bg-wrapper -->
					</div>
				</div> <!-- /.hero_slider_three -->
			</div> <!-- /.hero-banner-nine -->

			<!-- 
			=============================================
				Vcamp Text Block One
			============================================== 
		-->
		<div class="vcamp-text-block-one mt-300 xl-mt-200 md-mt-120">
			<div class="container">
				<div class="row">
					<div class="col-xxl-5 col-xl-6 col-lg-7 ms-auto">
						<div class="text-wrapper pt-0">
							<p class="meta-info-text text-lg pt-0 pb-0">Kami sudah membuat lebih dari</p>
							<div class="title-style-two mt-0">
								<h3 class="title">200 website keren & 50 custom apps </h3>
							</div>
							<p class="meta-info-text text-lg pt-1 pb-1">Selama lebih dari 0 tahun terakhir ini. Klien happy, kami pun puas.</p>
							<a  class="theme-btn-one ripple-btn fst-italic">-Semoga Anda salah satunya</a>
						</div>
					</div>
				</div>
			</div>
			<div class="left-img-meta">
				<img src="../vCamp/Template/vCamp/images/media/img_04.jpg" alt="">
				<img src="../vCamp/Template/vCamp/images/shape/shape_04.svg" alt="" class="shapes shape-one">
			</div>
			<img src="../vCamp/Template/vCamp/images/shape/shape_05.svg" alt="" class="shapes shape-two">
		</div> <!-- /.vcamp-text-block-one -->

			<!-- 
			=============================================
				Vcamp Feature Section Nine
			============================================== 
		-->
		<div class="vcamp-feature-section-nine pt-170 lg-pt-120" id="about">
			<div class="container">
				<div class="title-style-seven text-center pb-60 lg-pb-20">
					<p>Bukan cuma keren,</p>
					<h2 class="title">Website Anda juga akan dilengkapi dengan fitur penunjang bisnis digital. <span>Cek di sini. <img src="../vCamp/Template/vCamp/images/shape/shape_53.svg" alt=""></span></h2>
				</div> <!-- /.title-style-seven -->
			</div>
		</div> <!-- /.vcamp-feature-section-nine -->
			<!-- 
			=============================================
				Vcamp Feature Section One
			============================================== 
		-->
		<div class="vcamp-feature-section-one box-layout mt-75">
			<div class="bg-wrapper">
				<img src="images/shape/shape_01.svg" alt="" class="shapes shape-one">
				<div class="container">
					<div class="row">
						<div class="col-xxl-4 col-lg-5" data-aos="fade-right">
							<div class="title-style-one">
								<div class="upper-title">Apa yang kami kerjakan</div>
								<h2 class="title">Integrated Web Agency untuk Bisnis.</h2>
							</div>
							<p class="meta-info-text text-lg">Kami mendukung transformasi digital bisnis Anda dengan kreativitas dan teknologi inovatif. Stay Relevant, Grow Bigger.</p>
							<a href="serviceV1.html" class="theme-btn-one ripple-btn">Pelajari Lebih Lanjut <img src="../vCamp/Template/vCamp/images/icon/icon_03.svg" alt=""></a>
						</div>

						<div class="col-lg-7 ms-auto" data-aos="fade-left">
							<div class="row">
								<div class="col-sm-6">
									<div class="card-style-one">
										<div class="icon d-flex align-items-center justify-content-center"><img src="../vCamp/Template/vCamp/images/icon/icon_04.svg" alt="" class="tran3s"></div>
										<h4 class="title">Website Development</h4>
										<p>Layanan desain, content hingga  development untuk website baru atau redesign/perbaikan website lama Anda</p>
										<a href="serviceV1.html" class="arrow-icon"><img src="../vCamp/Template/vCamp/images/icon/icon_08.svg" alt="" class="tran3s"></a>
									</div> <!-- /.card-style-one -->
								</div>
								<div class="col-sm-6">
									<div class="card-style-one">
										<div class="icon d-flex align-items-center justify-content-center"><img src="../vCamp/Template/vCamp/images/icon/icon_05.svg" alt="" class="tran3s"></div>
										<h4 class="title">Online Shop & Marketplace</h4>
										<p>Datangkan lebih banyak customer online dengan fitur online shop yang lengkap dan terintegrasi.</p>
										<a href="serviceV1.html" class="arrow-icon"><img src="../vCamp/Template/vCamp/images/icon/icon_08.svg" alt="" class="tran3s"></a>
									</div> <!-- /.card-style-one -->
								</div>
								<div class="col-sm-6">
									<div class="card-style-one">
										<div class="icon d-flex align-items-center justify-content-center"><img src="../vCamp/Template/vCamp/images/icon/icon_06.svg" alt="" class="tran3s"></div>
										<h4 class="title">Custom Apps & Software</h4>
										<p>Buat aplikasi mobile atau software fungsional dengan fitur custom sesuai kebutuhan bisnis dan customer  Anda. </p>
										<a href="serviceV1.html" class="arrow-icon"><img src="../vCamp/Template/vCamp/images/icon/icon_08.svg" alt="" class="tran3s"></a>
									</div> <!-- /.card-style-one -->
								</div>
								<div class="col-sm-6">
									<div class="card-style-one">
										<div class="icon d-flex align-items-center justify-content-center"><img src="../vCamp/Template/vCamp/images/icon/icon_07.svg" alt="" class="tran3s"></div>
										<h4 class="title">Landing Page Creation</h4>
										<p>Tingkatkan konversi prospek Anda dengan Landing page yang impresif dan "lebih menjual"</p>
										<a href="serviceV1.html" class="arrow-icon"><img src="../vCamp/Template/vCamp/images/icon/icon_08.svg" alt="" class="tran3s"></a>
									</div> <!-- /.card-style-one -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.bg-wrapper -->
		</div> <!-- /.vcamp-feature-section-one -->


			<!--=====================================================
				Counter Section One
				=====================================================-->
				<div class="counter-section-one mt-170 md-mt-120">
					<div class="inner-container">
						<div class="row">
							<div class="col-lg-3 col-sm-6" data-aos="fade-up">
								<div class="counter-block-one text-center mb-45">
									<div class="main-count font-recoleta"><span class="counter">3.5</span>k</div>
									<p class="theme-mb-0">Job done successfully</p>
								</div> <!-- /.counter-block-one -->
							</div>
							<div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="100">
								<div class="counter-block-one text-center mb-45">
									<div class="main-count font-recoleta"><span class="counter">20</span>million</div>
									<p class="theme-mb-0">3,280 avg rating</p>
								</div> <!-- /.counter-block-one -->
							</div>
							<div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="200">
								<div class="counter-block-one text-center mb-45">
									<div class="main-count font-recoleta"><span class="counter">50</span>k+</div>
									<p class="theme-mb-0">Contact Profile</p>
								</div> <!-- /.counter-block-one -->
							</div>
							<div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="300">
								<div class="counter-block-one text-center mb-45">
									<div class="main-count font-recoleta"><span class="counter">3,000</span>+</div>
									<p class="theme-mb-0">Using vCamp</p>
								</div> <!-- /.counter-block-one -->
							</div>
						</div>
					</div>
				</div>

			<!--=====================================================
				Vcamp Feature Section Eight
				=====================================================-->
				<div class="vcamp-feature-section-eight mt-200 lg-mt-120 bg-dark py-4">
					<div class="container">
						<div class="row">
							<div class="col-xxl-11 m-auto">
								<div class="row align-items-center mb-80 lg-mb-20">
									<div class="col-lg-5 col-md-6">
										<div class="title-style-four">
											<h2 class="title text-white">Apa Keunggulan Website yang kami buat ?</h2>
										</div>
									</div>
									<div class="col-lg-5 col-md-6 ms-auto">
										<p class="text-lg theme-mb-0 sm-mt-20 text-white">Kami berikan lebih dari sekedar website. Sebuah kredibilitas online dan mesin uang digital Anda.</p>
									</div>
								</div>

								<div class="row pb-4">
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_55.svg" alt=""></div>
											<h4>Desain Custom & Profesional</h4>
											<p>Desain akan dibuat menarik sesuai keinginan Anda. Kami terbuka dengan benchmark desain sesuai website tertentu. Kami juga memiliki beberapa referensi sebagai inspirasi.</p>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_56.svg" alt=""></div>
											<h4>Mobile Friendly</h4>
											<p>Lebih dari 75% orang saat ini menggunakan smartphone untuk mengakses website. Sehingga  website yang kami buat akan disesuaikan dengan tampilan perangkat smartphone dengan content dan desain yang responsive.</p>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_57.svg" alt=""></div>
											<h4>SEO Friendly</h4>
											<p>Kami akan meriset kata kunci yang tepat sesuai produk/jasa Anda melalui Google Trends & Keyword Planner. Sehingga Website Anda mudah ditemukan di Google.</p>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_58.svg" alt=""></div>
											<h4>Optimasi GT Metrix</h4>
											<p>Kami mengoptimasi  berbagai variable dalam GT Metrix agar website Anda memiliki kecepatan yang tinggi ketika diakses.</p>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_59.svg" alt=""></div>
											<h4>Website Stabil & Aman</h4>
											<p>Free maintenance. Uptime website hingga 99%, didukung SSL, anti virus, anti spam dan anti brute-force.</p>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_60.svg" alt=""></div>
											<h4>Garansi Layanan & Update</h4>
											<p>Garansi Proyek Selesai sesuai brief. Free Perbaikan Bug. <span class="fw-bold">Gratis 1 kali upgrade fitur minor pada website.</span></p>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_59.svg" alt=""></div>
											<h4>Email Profesional</h4>
											<p>Kami akan memberikan email bisnis dengan domain Anda sendiri untuk meningkatkan kredibilitas Anda. Jumlahnya sesuai permintaan.</p>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_60.svg" alt=""></div>
											<h4>Admin Dashboard- CMS</h4>
											<p>Jika mau, Anda bisa mengelola konten sendiri setelah website selesai. Kami akan memberikan training khusus untuk me-managenya.</span></p>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 mb-3">
										<div class="card-style-eight bg-white h-100 pb-0 pt-4">
											<div class="icon d-flex align-items-end"><img src="../vCamp/Template/vCamp/images/icon/icon_60.svg" alt=""></div>
											<h4>Full Support 24/7</h4>
											<p>Kami akan segera merespon Anda jika terdapat bug atau kendala atau kebutuhan update/upgrade content/ fitur website Anda.</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /.vcamp-feature-section-eight -->

				<!--=====================================================
				Vcamp Text Block Four
				=====================================================-->
				<div class="vcamp-text-block-four mt-200 lg-mt-120">
					<div class="row g-0">
						<div class="col-lg-6 ms-auto px-5">
							<div class="accordion accordion-style-one md-mt-30" id="accordionOne">
								<div class="accordion-item">
									<div class="accordion-header" id="headingOne">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Google Analytics
										</button>
									</div>
									<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionOne">
										<div class="accordion-body">
											<p>Anda bisa cek jumlah pengunjung, waktu ramai pengunjung,  konten website yang paling diminati hingga perilaku pengunjung ketika berselancar di website Anda. Data tersebut tentunya sangat insightful untuk bisnis Anda.</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<div class="accordion-header" id="headingTwo">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Google My Business
										</button>
									</div>
									<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionOne">
										<div class="accordion-body">
											<p>Bisnis Anda akan muncul di Google Maps ketika calon customer melakukan pencarian di Google. Anda bisa update alamat, profil, jam operasional, produk/jasa, hingga promosi terbaru. </p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<div class="accordion-header" id="headingThree">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Google Ads Management
										</button>
									</div>
									<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionOne">
										<div class="accordion-body">
											<p>Kami bantu Anda untuk datangkan customer ke website dengan setting dan kelola iklan Google Ads selama 1 bulan pertama</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<div class="accordion-header" id="headingFour">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
											Google Search Console
										</button>
									</div>
									<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionOne">
										<div class="accordion-body">
											<p>Kontrol performa website di pencarian Google,  keyword terpopuler, trafik website organik, kinerja website di perangkat mobile, dan masih banyak lainnya.</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<div class="accordion-header" id="headingFive">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											Promo Digital Marketing
										</button>
									</div>
									<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionOne">
										<div class="accordion-body">
											<p>Diskon khusus dari rekanan kami  untuk jasa SEO, jasa Google Ads, jasa Email marketing, jasa Sosial media management dan jasa Artikel Website. Pelajari Lebih Lanjut</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 d-flex right-side">
							<div class="content-wrapper w-100 h-100 position-relative">
								<div class="text-wrapper position-relative me-auto" data-aos="fade-left">
									<h2 class="title">Fitur Bisnis Untuk Website Anda. GRATIS</h2>
									<p>Kami akan bantu settingkan layanan tambahan untuk membuat website Anda lebih siap "Menjual". </p>
									<a href="serviceV3.html" class="more-button ripple-btn"><i class="bi bi-chevron-right"></i></a>
								</div> <!-- /.text-wrapper -->
							</div> <!-- /.content-wrapper -->
						</div> <!-- /.right-side -->
					</div>
				</div> <!-- /.vcamp-text-block-four -->

				<!--=====================================================
				Partner Section Two
				=====================================================-->
				<div class="partner-section-two pt-180 lg-pt-50 lg-mb-100">
					<img src="images/shape/shape_13.svg" alt="" class="shapes shape-one">
					<div class="container">
						<div class="row d-flex justify-content-between">
							<div class="col-lg-6 col-md-8 col-sm-10 m-auto">
								<div class="title-style-one text-start">
									<h2 class="title">Berikut beberapa <span>klien</span> kami:</h2>
								</div>
							</div>
							<div class="col-lg-6 col-md-8 col-sm-10 m-auto d-flex justify-content-lg-end">
								<a href="ui-headerV3.html" class="theme-btn-four ripple-btn">Lihat Portofolio Kami</a>
							</div>
						</div>

						<div class="row">
							<div class="col-xl-11 m-auto">
								<div class="partent-logos">
									<div class="row g-0">
										<div class="col-md-3 col-6">
											<div class="logo d-flex align-items-center justify-content-center"><a href="#"><img src="../vCamp/Template/vCamp/images/logo/logo-6.png" alt="" class="tran3s"></a></div>
										</div>
										<div class="col-md-3 col-6">
											<div class="logo d-flex align-items-center justify-content-center"><a href="#"><img src="../vCamp/Template/vCamp/images/logo/logo-7.png" alt="" class="tran3s"></a></div>
										</div>
										<div class="col-md-3 col-6">
											<div class="logo d-flex align-items-center justify-content-center"><a href="#"><img src="../vCamp/Template/vCamp/images/logo/logo-8.png" alt="" class="tran3s"></a></div>
										</div>
										<div class="col-md-3 col-6">
											<div class="logo d-flex align-items-center justify-content-center"><a href="#"><img src="../vCamp/Template/vCamp/images/logo/logo-9.png" alt="" class="tran3s"></a></div>
										</div>
										<div class="col-md-3 col-6">
											<div class="logo d-flex align-items-center justify-content-center"><a href="#"><img src="../vCamp/Template/vCamp/images/logo/logo-10.png" alt="" class="tran3s"></a></div>
										</div>
										<div class="col-md-3 col-6">
											<div class="logo d-flex align-items-center justify-content-center"><a href="#"><img src="../vCamp/Template/vCamp/images/logo/logo-11.png" alt="" class="tran3s"></a></div>
										</div>
										<div class="col-md-3 col-6">
											<div class="logo d-flex align-items-center justify-content-center"><a href="#"><img src="../vCamp/Template/vCamp/images/logo/logo-12.png" alt="" class="tran3s"></a></div>
										</div>
										<div class="col-md-3 col-6">
											<div class="logo d-flex align-items-center justify-content-center"><a href="#"><img src="../vCamp/Template/vCamp/images/logo/logo-13.png" alt="" class="tran3s"></a></div>
										</div>
									</div>
								</div> <!-- /.partent-logos -->
							</div>
						</div>
					</div>
				</div> <!-- /.partner-section-two -->

				<div class="box-layout">
					<div class="case-study-four border-top">
						<div class="mixitUp-container">
							<div class="mix">
								<div class="case-block-four position-relative" style="background: #DFF2E9;">
									<div class="container">
										<div class="row">
											<div class="col-xl-6 col-md-8">
												<div class="text-wrapper" data-aos="fade-right">
													<div class="icon d-flex align-items-center justify-content-center mb-20">
														<img src="../vCamp/Template/vCamp/images/icon/icon_50.svg" alt="">
													</div>
													<blockquote>
														“Tim Ansol cukup detail dan mampu memahami kebutuhan digital bisnis kami. Mulai dari desain sampai copywriting, hasilnya memuaskan.”
													</blockquote>
													<div class="d-flex align-items-center info-meta">
														<img src="../vCamp/Template/vCamp/images/media/img_02.jpg" alt="" class="avatar">
														<div class="name">Rudi. <span>Asricon</span></div>
														<a href="portfolio-detailsV1.html" class="more"><i class="bi bi-chevron-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<img src="../vCamp/Template/vCamp/images/media/img_50.png" alt="" class="screen screen-right" data-aos="fade-left">
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- =============================================
				Vcamp Feature Section Three
				============================================== -->
				<div class="vcamp-feature-section-three mt-200 lg-mt-150 md-mt-120">
					<div class="container">
						<div class="row align-items-center mb-75 lg-mb-50 md-mb-20">
							<div class="col-xl-6 col-lg-5" data-aos="fade-right">
								<div class="title-style-one">
									<h2 class="title">Setelah Website selesai,  <span>lalu apa ?</span></h2>
								</div>
							</div>
							<div class="col-lg-5 ms-auto" data-aos="fade-left">
								<p class="meta-info-text text-lg ps-xxl-5 md-pt-20">Kami bekerja sama dengan agency Digital Marketing dengan keahlian di bidangnya masing-masing, untuk membantu menjadikan Website Anda lebih <span class="text-decoration-underline">menjual dan profitable.</span></p>
								<a href="" class="theme-btn-one ripple-btn mt-2">Boleh Juga <img src="../vCamp/Template/vCamp/images/icon/icon_03.svg" alt=""></a>
							</div>
						</div>
					</div>
				</div>

				<!--=============================================
				Theme Hero Banner
				============================================== -->
				<div class="hero-banner-ten">
					<div class="d-flex align-items-center justify-content-center h-100">
						<div class="container">
							<div class="row justify-content-between align-items-center">
								<div class="col-xxl-6 col-xl-7 col-lg-6">
									<h1 class="hero-heading font-recoleta">Gratis 3 Template Landing Page Exclusive</h1>
									<p class="hero-sub-heading pe-xl-5">Yang bisa dipakai untuk keperluan iklan atau informasi bisnismu. Bisa kami bantu install ke domain dan hosting supaya online.</p>
								</div>
								<div class="col-xl-5 col-lg-6">
									<div class="form-style-four md-mt-40">
										<h3>Plus Voucher Diskon Pembuatan Website senilai Rp 100.000</h3>
										<form action="inc/contact.php" id="contact-form"  data-toggle="validator">
											<div class="messages"></div>
											<div class="row controls">
												<div class="col-12">
													<div class="input-group-meta form-group mb-15">
														<label>Masukan Email Anda*</label>
														<input type="email" placeholder="rshdkabir@gmail.com" name="email" required="required" data-error="Valid email is required.">
														<div class="help-block with-errors"></div>
													</div>
												</div>
												<div class="col-12"><button class="theme-btn-one ripple-btn px-0 fs-8">Download Landing Page & Voucher Diskon</button></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--
			=====================================================
				Vcamp Text Block Five
			=====================================================
		-->
		<div class="vcamp-text-block-five mt-170 lg-mt-120">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-6 ms-auto px-5">
						<div class="text-wrapper">
							<h4 class="fw-bold">Kami spesialis. Hanya Fokus pada Website & Apps</h4>
							<p class="meta-info-text-two py-1">Kami membatasi jumlah klien yang kami terima setiap tahun untuk memastikan setiap klien memiliki customer experience yang baik. Kami siap merespon dengan cepat kebutuhan Anda.</p>
						</div>
					</div>
					<div class="col-xxl-6 col-xl-6 col-lg-6">
						<div class="text-wrapper">
							<div class="title-style-five">
								<h2 class="title">Mengapa memilih kami?</h2>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> <!-- /.vcamp-text-block-five -->

		<!--
			=====================================================
				FAQ Section Three
			=====================================================
		-->
		<div class="faq-section-three mt-120">
			<div class="container">
				<div class="title-style-nine text-center pb-80 lg-pb-50">
					<h2 class="title">Pertanyaan Umum</h2>
				</div>

				<div class="row">
					<div class="col-xxl-10 col-xl-11 m-auto">
						<form action="#" class="faq-search-filter mb-70">
							<input type="text" placeholder="Search here..">
							<button class="tran3s"><i class="bi bi-search"></i></button>
						</form>
						<div class="accordion accordion-style-four" id="accordionThree">
							<div class="row">
								<div class="col-lg-6">
									<div class="accordion-item">
										<div class="accordion-header" id="headingOne">
											<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#qacollapse1">
												Apa beda website yang dibuat Ansol ?
											</button>
										</div>
										<div id="qacollapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Website Anda full custom sesuai profil bisnis Anda. Kami juga melengkapi website Anda dengan banyak fitur bisnis, agar website Anda bisa lebih "menjual".</p>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingTwo">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse2" >
												Saya sangat awam dengan dunia IT. Bagaimana nanti saya bisa mengoperasikan website ?
											</button>
										</div>
										<div id="qacollapse2" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Kami akan memberikan training online bagaimana menggunakan website dan mengupdate konten secara mandiri. Semuanya dibuat mudah.</p>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingSix">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse3" >
												Berapa lama proses pembuatan Website ?
											</button>
										</div>
										<div id="qacollapse3" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Durasi pembuatan website tergantung banyaknya halaman, fitur dan layout website Anda. Paling cepat 3 hari, web Anda sudah live.</p>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingSeven">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse4" >
												Bagaimana metode pembayaran website di Ansol ?
											</button>
										</div>
										<div id="qacollapse4" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Kami menerima pembayaran via bank transfer di muka 50% sebagai tanda jadi, dan sisanya setelah serah terima website.</p>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingSeven">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse5" >
												Bagaimana jika tidak memperpanjang biaya tahunan ?
											</button>
										</div>
										<div id="qacollapse5" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Biaya tahunan digunakan untuk membayar hosting, domain dan maintenance. Jika Anda tidak ingin melanjutkan layanan kami, maka kami akan memberikan akses domain dan hosting Anda.</p>
											</div>
										</div>
									</div>
								</div> <!-- /.col- -->
								<div class="col-lg-6">
									<div class="accordion-item">
										<div class="accordion-header" id="headingThree">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse6">
												Bagaimana memilih desain website yang cocok ?
											</button>
										</div>
										<div id="qacollapse6" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Kami akan memberikan beberapa preview desain web setelah mendapatkan briefing terkait kebutuhan Anda. Anda bisa memilih salah satu yang paling cocok dengan selera Anda.</p>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingFour">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse7">
												Apakah ada garansi website sesuai briefing ?
											</button>
										</div>
										<div id="qacollapse7" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Kami berikan garansi 100% uang kembali jika website Anda tidak sesuai kesepakatan. Batasnya 3 hari setelah website selesai.</p>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingFive">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse8">
												Apakah saya sewaktu-waktu bisa mengubah konten dan fitur website ?
											</button>
										</div>
										<div id="qacollapse8" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Bisa. Setelah website live, Anda bisa mengubah konten dan fitur maksimal 3 halaman/bulan. Selama tidak merubah layout.</p>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingEight">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse9">
												Berapa jumlah halaman, foto dan video maksimal ?
											</button>
										</div>
										<div id="qacollapse9" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Bebas. Kami bisa membuat custom sesuai dengan kebutuhan Anda. </p>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingEight">
											<button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#qacollapse10">
												Bagaimana menggunakan fitur bisnis dari Ansol ?
											</button>
										</div>
										<div id="qacollapse10" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
											<div class="accordion-body">
												<p>Fitur bisnis seperti Google Analytics, Google My Business, Google Search Console akan kami bantu dan kami pandu untuk mengoperasikannya melalui training online.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- /.accordion-style-four -->
					</div>
				</div>
			</div>
		</div> <!-- /.faq-section-three -->

			<!--=====================================================
				Footer
				=====================================================-->
				<div class="vcamp-footer-one box-layout">
					<div class="bg-wrapper">
						<div class="container">
							<div class="row">
								<div class="col-xxl-11 m-auto">
									<div class="subscribe-area">
										<div class="row align-items-center">
											<div class="col-md-6">
												<div class="title-style-three sm-pb-20">
													<h4 class="title">Punya ide project ?</h4>
												</div>
												<div class="w-50">
													<img src="../vCamp/Template/vCamp/images/assets/ils_03.svg" alt="" class="img-fluid">
												</div>
											</div>
											<div class="col-md-6">
												<p>Atau ada pertanyaan yang buat penasaran?</p>
												<a href="contactV3.html" class="theme-btn-four ripple-btn">Yuk Diskusi</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- /.bg-wrapper -->
				</div> <!-- /.vcamp-footer-one -->
				<div class="vcamp-footer-three dark-bg">
					<div class="container">
						<div class="d-lg-flex align-items-center justify-content-between">
							<div class="logo text-center"><a href="index.html"><img src="../vCamp/Template/vCamp/images/logo/vCamp_02.png" alt="" style="width:127px"></a></div>
							<ul class="style-none footer-nav d-flex flex-wrap justify-content-center md-pt-20 md-pb-30">
								<li><a href="#">Tentang Kami</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Ketentuan Layanan</a></li>
								<li><a href="#">Kontak Kami</a></li>
							</ul>
							<ul class="d-flex justify-content-center social-icon style-none">
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>


				<button class="scroll-top">
					<i class="bi bi-arrow-up-short"></i>
				</button>




				<!-- Optional JavaScript _____________________________  -->

				<!-- jQuery first, then Bootstrap JS -->
				<!-- jQuery -->
				<script src="../vCamp/Template/vCamp/vendor/jquery.min.js"></script>
				<!-- Bootstrap JS -->
				<script src="../vCamp/Template/vCamp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
				<!-- AOS js -->
				<script src="../vCamp/Template/vCamp/vendor/aos-next/dist/aos.js"></script>
				<!-- Slick Slider -->
				<script src="../vCamp/Template/vCamp/vendor/slick/slick.min.js"></script>
				<!-- js Counter -->
				<script src="../vCamp/Template/vCamp/vendor/jquery.counterup.min.js"></script>
				<script src="../vCamp/Template/vCamp/vendor/jquery.waypoints.min.js"></script>
				<!-- Fancybox -->
				<script src="../vCamp/Template/vCamp/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
				<!-- validator js -->
				<script src="../vCamp/Template/vCamp/vendor/mixitup-3/mixitup.min.js"></script>
				<script src="../vCamp/Template/vCamp/vendor/validator.js"></script>

				<!-- Theme js -->
				<script src="../vCamp/Template/vCamp/js/theme.js"></script>
			</div> <!-- /.main-page-wrapper -->
		</body>
		</html>