/*Font Size*/
.pe-4rem{
  padding-right: 4rem !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.6rem !important;
}

.fs-90px{
  font-size: 90px !important;
}

.fs-80px{
  font-size: 80px !important;
}

.fs-70px{
  font-size: 70px !important;
}

.fs-60px{
  font-size: 60px !important;
}

.fs-55px{
  font-size: 55px !important;
}

.fs-50px{
  font-size: 50px !important;
}

/*Display*/

.d-block-pc{
  display: block;
}

.d-none-pc{
  display: none;
}

/*Padding*/



.text-justify{
  text-align: justify !important;
}

.scrollto{
  cursor: pointer;
}

.whatsapp{
  /*color: #2EE462;*/
  position: fixed;
  left: 45px;
  bottom: 20px;
  width:45px;
  height:45px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 99;
  background: #2EE462;
  display: none;
  transition: all 0.3s ease-in-out;
}

.whatsapp:hover{
  color: #000000;
}

.whatsapp:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.slider_seven{
  position: relative;
}

.slider_seven .prev_b{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 11;
  font-size: 30px;
}

.slider_seven .next_b{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  font-size: 30px;
}

.partnerSliderOne .item {
  margin: 0 22px;
}
.partnerSliderOne .slick-dots {
  text-align: center;
  margin-top: 75px;
  display: none;
}
.partnerSliderOne .slick-dots li {
  display: inline-block;
}
.partnerSliderOne .slick-dots li button {
  text-indent: -50000px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--heading);
  margin: 0 4px;
  transition: all 0.3s ease-in-out;
}
.partnerSliderOne .slick-dots li.slick-active button {
  background: var(--heading);
}