@media (max-width: 768px) {
	/*Display*/
	.d-block-mobile{
		display: block !important;
	}

	.d-none-mobile{
		display: none !important;
	}

	.justify-content-center-mobile{
		justify-content: center;
	}

	/*Font Size*/
	.fs-mobile-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}

	.fs-mobile-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}

	.fs-mobile-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}

	.fs-mobile-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}

	.fs-mobile-5 {
		font-size: 1.25rem !important;
	}

	.fs-mobile-6 {
		font-size: 1rem !important;
	}

	.fs-mobile-7 {
		font-size: 0.8rem !important;
	}

	.fs-mobile-8 {
		font-size: 0.6rem !important;
	}

	.fs-mobile-90px{
		font-size: 90px !important;
	}

	.fs-mobile-80px{
		font-size: 80px !important;
	}

	.fs-mobile-70px{
		font-size: 70px !important;
	}

	.fs-mobile-60px{
		font-size: 60px !important;
	}

	.fs-mobile-55px{
		font-size: 55px !important;
	}

	.fs-mobile-50px{
		font-size: 50px !important;
	}

	.fs-mobile-45px{
		font-size: 45px !important;
	}

	.fs-mobile-40px{
		font-size: 40px !important;
	}

	.fs-mobile-35px{
		font-size: 35px !important;
	}

	.fs-mobile-30px{
		font-size: 30px !important;
	}

	.pe-mobile-0{
		padding-right: 0;
	}

	.text-center-mobile{
		text-align: center !important;
	}

	.d-flex-mobile{
		display: flex;
	}

	.title-style-seven .title span img {
		bottom: -10px !important;
	}

	.title-style-three .title {
		font-size: 40px;
	}

	.partnerSliderOne .slick-dots{
		display: block;
	}

	.whatsapp{
		left: 10px;
	}
}